APP_PASSWORD=1234
REPORT_TO_EMAIL=info@araoclinic.net
REPORT_FROM_EMAIL=info@araoclinic.net
SMTP_HOST=sv13154.xserver.jp
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=info@araoclinic.net
SMTP_PASS=メールパスワードをRender側で入力
SMTP_CONNECTION_TIMEOUT=30000
SMTP_GREETING_TIMEOUT=30000
SMTP_SOCKET_TIMEOUT=60000
