PORT=3000
APP_PASSWORD=1234
REPORT_TO_EMAIL=info@araoclinic.net
REPORT_FROM_EMAIL=clinic@example.com
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=clinic@example.com
SMTP_PASS=your-password
